.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.ReactTable{
    border: none;
}

.tblWrapper, .chart-wrapper{
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
}
.ReactTable .rt-thead {
    font-weight: 600;
    font-size: 14px;
}
.ReactTable .rt-thead.-header>div>.rt-th{
    text-align: right;
    border-right: none;
    outline: none;
}
.ReactTable .rt-thead.-header>div>.rt-th:first-child{
    text-align: left;
}
.ReactTable .-headerGroups>div>.rt-th{
    border: none;
    outline: none;
    text-align: right;    
}
.ReactTable .rt-thead.-headerGroups{
    border:none;
}
.ReactTable .-headerGroups .acc-no{
    color: rgba(0, 0, 255, 0.582);
    text-align: left;
    font-size: 500;
}

.tblWrapper>h2{
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}
.tblWrapper>h5{
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    margin: 6px 0 24px 0;
}
.tblWrapper>.tbl-title, .chart-wrapper>.chart-title{
    text-align: left;
    font-weight: 600;
    font-size: 18px;
}
.ReactTable .tbl-header{
    border-bottom: none;
    background-color: #fff;
    text-align: right;
}
.ReactTable .proposedAsset-header, .ReactTable .currentAsset-header{
    border-bottom: 1px solid #ccc !important;
    /* background: red; */
}


.ReactTable .rt-tfoot {
    background-color: rgba(33, 32, 43, 0.788);
    color: #fff;
    font-weight: 600;
}

.ReactTable .rt-tfoot>div>.rt-td{
    border: none;
}
.ReactTable .table-footer{
    font-weight: 500;
}
.chart-wrapper{
    display:flex;
    flex-direction: row;    
}
.chart-wrapper>div{
    flex: 1;     
}

@media(max-width: 768px) {
    .chart-wrapper{
        display:flex;
        flex-direction: column;    
    }
}
